.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.features {
  display: flex;
  align-items: stretch;
  padding: 3rem 0;
  width: 100%;
}

.feature {
  margin-bottom: 2rem;
}

.featureLink {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

.featureLink:hover {
  text-decoration: none;
}
